<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Trang chủ</span>
      </a>
    </li>
    <li class="nav-item nav-category">Thống kê</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Thống kê </span>
        <i class="menu-arrow"></i> 
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Thời gian thực</a></li>
      
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Thông tin</li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-wechat menu-icon"></i>
        <span class="menu-title">QnA </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-package menu-icon"></i>
        <span class="menu-title">Kịch bản </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="menu-icon mdi mdi-trello"></i>
        <span class="menu-title">NLP</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Câu mẫu</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Ý định </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Loại thực thể </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Từ khóa </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Từ điển </a></li>
      
        </ul>
      </div>
    </li>
 
    <li class="nav-item nav-category">Thông tin</li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="menu-icon mdi mdi-account-circle-outline"></i>
        <span class="menu-title">Người dùng</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
        </ul>
      </div>
    </li>
  
  </ul>
</nav>